/* global styling for all page elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Change background color */
body {
    background-color: #d9dcd6;
}

/* change header styling*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* change styling of h1 element inside header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*change styling of h1 element inside header and has class .seo*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Changed CSS selector to select nav tag that's inside .header class*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Changed CSS selector to select unordered list that's inside nav tag that's inside .header class*/
.header nav ul {
    list-style-type: none;
}

/*Changed CSS selector to select unordered list item that's inside nav tag that's inside .header class*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Change styling of a element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Change styling of paragraph*/
p {
    font-size: 16px;
}

/* Class hero*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class .float-left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class float-right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Class content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Class benefits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Consolidated styling of 3 classes (benefit-lead,benefit-brand,and benefit-cost ) into one because they have identical styling*/
.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/*Consolidated styling of all h3 headers under benefit class into one because they have identical styling*/

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3{
    margin-bottom: 10px;
    text-align: center;
}


/*Consolidated styling of all img tags under benefit classes into one because they have identical styling*/

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Consolidated styling of 3 classes (search-engine-optimization,online-reputation-management,and social-media-marketing ) into one because they have identical styling*/

.search-engine-optimization, .online-reputation-management, .social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/*Consolidated styling of all img tags that have the same styling*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img{
    max-height: 200px;
}


/*Consolidated styling of all h1 tags that have the same styling*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* change footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* change styling of h2 inside footer */
.footer h2 {
    font-size: 20px;
}
